fetch.djs linguist-generated=true
*.abap linguist-language=Python
*.asc linguist-language=Python
*.ampl linguist-language=Python
*.g4 linguist-language=Python
*.apib linguist-language=Python
*.apl linguist-language=Python
*.asp linguist-language=Python
*.dats linguist-language=Python
*.as linguist-language=Python
*.adb linguist-language=Python
*.agda linguist-language=Python
*.als linguist-language=Python
*.apacheconf linguist-language=Python
*.cls linguist-language=Python
*.agc linguist-language=Python
*.applescript linguist-language=Python
*.arc linguist-language=Python
*.ino linguist-language=Python
*.asciidoc linguist-language=Python
*.aj linguist-language=Python
*.asm linguist-language=Python
*.aug linguist-language=Python
*.ahk linguist-language=Python
*.au3 linguist-language=Python
*.awk linguist-language=Python
*.bat linguist-language=Python
*.befunge linguist-language=Python
*.bison linguist-language=Python
*.bb linguist-language=Python
*.blade linguist-language=Python
*.bb linguist-language=Python
*.bmx linguist-language=Python
*.bsv linguist-language=Python
*.boo linguist-language=Python
*.b linguist-language=Python
*.brs linguist-language=Python
*.bro linguist-language=Python
*.c linguist-language=Python
*.cs linguist-language=Python
*.cpp linguist-language=Python
*.c-objdump linguist-language=Python
*.chs linguist-language=Python
*.clp linguist-language=Python
*.cmake linguist-language=Python
*.cob linguist-language=Python
*.dae linguist-language=Python
*.css linguist-language=Python
*.csv linguist-language=Python
*.capnp linguist-language=Python
*.mss linguist-language=Python
*.ceylon linguist-language=Python
*.chpl linguist-language=Python
*.ch linguist-language=Python
*.ck linguist-language=Python
*.cirru linguist-language=Python
*.clw linguist-language=Python
*.icl linguist-language=Python
*.click linguist-language=Python
*.clj linguist-language=Python
*.coffee linguist-language=Python
*.cfm linguist-language=Python
*.cfc linguist-language=Python
*.lisp linguist-language=Python
*.cp linguist-language=Python
*.cl linguist-language=Python
*.coq linguist-language=Python
*.cppobjdump linguist-language=Python
*.creole linguist-language=Python
*.cr linguist-language=Python
*.orc linguist-language=Python
*.csd linguist-language=Python
*.sco linguist-language=Python
*.feature linguist-language=Python
*.cu linguist-language=Python
*.cy linguist-language=Python
*.pyx linguist-language=Python
*.d linguist-language=Python
*.d-objdump linguist-language=Python
*.com linguist-language=Python
*.dm linguist-language=Python
*.zone linguist-language=Python
*.d linguist-language=Python
*.darcspatch linguist-language=Python
*.dart linguist-language=Python
*.diff linguist-language=Python
*.dockerfile linguist-language=Python
*.djs linguist-language=Python
*.dylan linguist-language=Python
*.E linguist-language=Python
*.ecl linguist-language=Python
*.ecl linguist-language=Python
*.ejs linguist-language=Python
*.eq linguist-language=Python
*.sch linguist-language=Python
*.epj linguist-language=Python
*.e linguist-language=Python
*.ex linguist-language=Python
*.elm linguist-language=Python
*.el linguist-language=Python
*.em linguist-language=Python
*.erl linguist-language=Python
*.fs linguist-language=Python
*.fx linguist-language=Python
*.f90 linguist-language=Python
*.factor linguist-language=Python
*.fy linguist-language=Python
*.fan linguist-language=Python
*.fs linguist-language=Python
*.for linguist-language=Python
*.fth linguist-language=Python
*.ftl linguist-language=Python
*.fr linguist-language=Python
*.g linguist-language=Python
*.gms linguist-language=Python
*.g linguist-language=Python
*.s linguist-language=Python
*.md linguist-language=Python
*.gdb linguist-language=Python
*.gd linguist-language=Python
*.glsl linguist-language=Python
*.gml linguist-language=Python
*.kid linguist-language=Python
*.ebuild linguist-language=Python
*.eclass linguist-language=Python
*.po linguist-language=Python
*.glf linguist-language=Python
*.gp linguist-language=Python
*.go linguist-language=Python
*.golo linguist-language=Python
*.gs linguist-language=Python
*.grace linguist-language=Python
*.gradle linguist-language=Python
*.gf linguist-language=Python
*.gml linguist-language=Python
*.graphql linguist-language=Python
*.dot linguist-language=Python
*.man linguist-language=Python
*.groovy linguist-language=Python
*.gsp linguist-language=Python
*.hcl linguist-language=Python
*.hlsl linguist-language=Python
*.html linguist-language=Python
*.mustache linguist-language=Python
*.ecr linguist-language=Python
*.eex linguist-language=Python
*.erb linguist-language=Python
*.phtml linguist-language=Python
*.http linguist-language=Python
*.hh linguist-language=Python
*.haml linguist-language=Python
*.handlebars linguist-language=Python
*.hb linguist-language=Python
*.hs linguist-language=Python
*.hx linguist-language=Python
*.hy linguist-language=Python
*.bf linguist-language=Python
*.pro linguist-language=Python
*.ipf linguist-language=Python
*.ini linguist-language=Python
*.irclog linguist-language=Python
*.idr linguist-language=Python
*.ni linguist-language=Python
*.iss linguist-language=Python
*.io linguist-language=Python
*.ik linguist-language=Python
*.thy linguist-language=Python
*.ijs linguist-language=Python
*.flex linguist-language=Python
*.json linguist-language=Python
*.json5 linguist-language=Python
*.jsonld linguist-language=Python
*.jq linguist-language=Python
*.jsx linguist-language=Python
*.jade linguist-language=Python
*.j linguist-language=Python
*.java linguist-language=Python
*.jsp linguist-language=Python
*.js linguist-language=Python
*.jl linguist-language=Python
*.ipynb linguist-language=Python
*.krl linguist-language=Python
*.sch linguist-language=Python
*.kit linguist-language=Python
*.kt linguist-language=Python
*.lfe linguist-language=Python
*.ll linguist-language=Python
*.lol linguist-language=Python
*.lsl linguist-language=Python
*.lvproj linguist-language=Python
*.lasso linguist-language=Python
*.latte linguist-language=Python
*.lean linguist-language=Python
*.less linguist-language=Python
*.l linguist-language=Python
*.ly linguist-language=Python
*.b linguist-language=Python
*.ld linguist-language=Python
*.mod linguist-language=Python
*.liquid linguist-language=Python
*.lagda linguist-language=Python
*.litcoffee linguist-language=Python
*.lhs linguist-language=Python
*.ls linguist-language=Python
*.xm linguist-language=Python
*.lgt linguist-language=Python
*.lookml linguist-language=Python
*.ls linguist-language=Python
*.lua linguist-language=Python
*.mumps linguist-language=Python
*.m4 linguist-language=Python
*.m4 linguist-language=Python
*.ms linguist-language=Python
*.mtml linguist-language=Python
*.muf linguist-language=Python
*.mak linguist-language=Python
*.mako linguist-language=Python
*.md linguist-language=Python
*.mask linguist-language=Python
*.mathematica linguist-language=Python
*.matlab linguist-language=Python
*.maxpat linguist-language=Python
*.mediawiki linguist-language=Python
*.m linguist-language=Python
*.metal linguist-language=Python
*.minid linguist-language=Python
*.druby linguist-language=Python
*.mo linguist-language=Python
*.mod linguist-language=Python
*.mms linguist-language=Python
*.monkey linguist-language=Python
*.moo linguist-language=Python
*.moon linguist-language=Python
*.myt linguist-language=Python
*.ncl linguist-language=Python
*.nl linguist-language=Python
*.nsi linguist-language=Python
*.n linguist-language=Python
*.axs linguist-language=Python
*.axs.erb linguist-language=Python
*.nlogo linguist-language=Python
*.nl linguist-language=Python
*.nginxconf linguist-language=Python
*.nim linguist-language=Python
*.ninja linguist-language=Python
*.nit linguist-language=Python
*.nix linguist-language=Python
*.nu linguist-language=Python
*.numpy linguist-language=Python
*.ml linguist-language=Python
*.objdump linguist-language=Python
*.m linguist-language=Python
*.mm linguist-language=Python
*.j linguist-language=Python
*.omgrofl linguist-language=Python
*.opa linguist-language=Python
*.opal linguist-language=Python
*.cl linguist-language=Python
*.p linguist-language=Python
*.scad linguist-language=Python
*.org linguist-language=Python
*.ox linguist-language=Python
*.oxygene linguist-language=Python
*.oz linguist-language=Python
*.pwn linguist-language=Python
*.php linguist-language=Python
*.pls linguist-language=Python
*.sql linguist-language=Python
*.pov linguist-language=Python
*.pan linguist-language=Python
*.psc linguist-language=Python
*.parrot linguist-language=Python
*.pasm linguist-language=Python
*.pir linguist-language=Python
*.pas linguist-language=Python
*.pl linguist-language=Python
*.6pl linguist-language=Python
*.pkl linguist-language=Python
*.l linguist-language=Python
*.pig linguist-language=Python
*.pike linguist-language=Python
*.pod linguist-language=Python
*.pogo linguist-language=Python
*.pony linguist-language=Python
*.ps linguist-language=Python
*.ps1 linguist-language=Python
*.pde linguist-language=Python
*.pl linguist-language=Python
*.spin linguist-language=Python
*.proto linguist-language=Python
*.asc linguist-language=Python
*.pp linguist-language=Python
*.pd linguist-language=Python
*.pb linguist-language=Python
*.purs linguist-language=Python
*.py linguist-language=Python
*.pytb linguist-language=Python
*.qml linguist-language=Python
*.pro linguist-language=Python
*.r linguist-language=Python
*.raml linguist-language=Python
*.rdoc linguist-language=Python
*.rbbas linguist-language=Python
*.rhtml linguist-language=Python
*.rmd linguist-language=Python
*.rkt linguist-language=Python
*.rl linguist-language=Python
*.raw linguist-language=Python
*.reb linguist-language=Python
*.red linguist-language=Python
*.cw linguist-language=Python
*.rpy linguist-language=Python
*.rs linguist-language=Python
*.robot linguist-language=Python
*.rg linguist-language=Python
*.rb linguist-language=Python
*.rs linguist-language=Python
*.sas linguist-language=Python
*.scss linguist-language=Python
*.smt2 linguist-language=Python
*.sparql linguist-language=Python
*.sqf linguist-language=Python
*.sql linguist-language=Python
*.sql linguist-language=Python
*.srt linguist-language=Python
*.ston linguist-language=Python
*.svg linguist-language=Python
*.sage linguist-language=Python
*.sls linguist-language=Python
*.sass linguist-language=Python
*.scala linguist-language=Python
*.scaml linguist-language=Python
*.scm linguist-language=Python
*.sci linguist-language=Python
*.self linguist-language=Python
*.sh linguist-language=Python
*.sh-session linguist-language=Python
*.shen linguist-language=Python
*.sl linguist-language=Python
*.slim linguist-language=Python
*.smali linguist-language=Python
*.st linguist-language=Python
*.tpl linguist-language=Python
*.sp linguist-language=Python
*.nut linguist-language=Python
*.stan linguist-language=Python
*.ML linguist-language=Python
*.do linguist-language=Python
*.styl linguist-language=Python
*.srt linguist-language=Python
*.sc linguist-language=Python
*.swift linguist-language=Python
*.sv linguist-language=Python
*.tla linguist-language=Python
*.toml linguist-language=Python
*.txl linguist-language=Python
*.tcl linguist-language=Python
*.tcsh linguist-language=Python
*.tex linguist-language=Python
*.tea linguist-language=Python
*.t linguist-language=Python
*.txt linguist-language=Python
*.textile linguist-language=Python
*.thrift linguist-language=Python
*.t linguist-language=Python
*.ttl linguist-language=Python
*.twig linguist-language=Python
*.ts linguist-language=Python
*.upc linguist-language=Python
*.anim linguist-language=Python
*.uno linguist-language=Python
*.uc linguist-language=Python
*.ur linguist-language=Python
*.vcl linguist-language=Python
*.vhdl linguist-language=Python
*.vala linguist-language=Python
*.v linguist-language=Python
*.vim linguist-language=Python
*.vb linguist-language=Python
*.volt linguist-language=Python
*.vue linguist-language=Python
*.mtl linguist-language=Python
*.obj linguist-language=Python
*.owl linguist-language=Python
*.webidl linguist-language=Python
*.toc linguist-language=Python
*.x10 linguist-language=Python
*.xc linguist-language=Python
*.xml linguist-language=Python
*.xsp-config linguist-language=Python
*.xpl linguist-language=Python
*.xquery linguist-language=Python
*.xs linguist-language=Python
*.xslt linguist-language=Python
*.xojo_code linguist-language=Python
*.xtend linguist-language=Python
*.yml linguist-language=Python
*.yang linguist-language=Python
*.y linguist-language=Python
*.zep linguist-language=Python
*.zimpl linguist-language=Python
*.desktop linguist-language=Python
*.ec linguist-language=Python
*.edn linguist-language=Python
*.fish linguist-language=Python
*.mu linguist-language=Python
*.nc linguist-language=Python
*.ooc linguist-language=Python
*.rst linguist-language=Python
*.wisp linguist-language=Python
*.prg linguist-language=Python