fetch.djs linguist-vendored
*.abap linguist-language="ABAP"
*.asc linguist-language="AGS[:space:]Script"
*.ampl linguist-language="AMPL"
*.g4 linguist-language="ANTLR"
*.apib linguist-language="API[:space:]Blueprint"
*.apl linguist-language="APL"
*.asp linguist-language="ASP"
*.dats linguist-language="ATS"
*.as linguist-language="ActionScript"
*.adb linguist-language="Ada"
*.agda linguist-language="Agda"
*.als linguist-language="Alloy"
*.apacheconf linguist-language="ApacheConf"
*.cls linguist-language="Apex"
*.agc linguist-language="Apollo[:space:]Guidance[:space:]Computer"
*.applescript linguist-language="AppleScript"
*.arc linguist-language="Arc"
*.ino linguist-language="Arduino"
*.asciidoc linguist-language="AsciiDoc"
*.aj linguist-language="AspectJ"
*.asm linguist-language="Assembly"
*.aug linguist-language="Augeas"
*.ahk linguist-language="AutoHotkey"
*.au3 linguist-language="AutoIt"
*.awk linguist-language="Awk"
*.bat linguist-language="Batchfile"
*.befunge linguist-language="Befunge"
*.bison linguist-language="Bison"
*.bb linguist-language="BitBake"
*.blade linguist-language="Blade"
*.bb linguist-language="BlitzBasic"
*.bmx linguist-language="BlitzMax"
*.bsv linguist-language="Bluespec"
*.boo linguist-language="Boo"
*.b linguist-language="Brainfuck"
*.brs linguist-language="Brightscript"
*.bro linguist-language="Bro"
*.c linguist-language="C"
*.cs linguist-language="C#"
*.cpp linguist-language="C++"
*.c-objdump linguist-language="C-ObjDump"
*.chs linguist-language="C2hs[:space:]Haskell"
*.clp linguist-language="CLIPS"
*.cmake linguist-language="CMake"
*.cob linguist-language="COBOL"
*.dae linguist-language="COLLADA"
*.css linguist-language="CSS"
*.csv linguist-language="CSV"
*.capnp linguist-language="Cap'n[:space:]Proto"
*.mss linguist-language="CartoCSS"
*.ceylon linguist-language="Ceylon"
*.chpl linguist-language="Chapel"
*.ch linguist-language="Charity"
*.ck linguist-language="ChucK"
*.cirru linguist-language="Cirru"
*.clw linguist-language="Clarion"
*.icl linguist-language="Clean"
*.click linguist-language="Click"
*.clj linguist-language="Clojure"
*.coffee linguist-language="CoffeeScript"
*.cfm linguist-language="ColdFusion"
*.cfc linguist-language="ColdFusion[:space:]CFC"
*.lisp linguist-language="Common[:space:]Lisp"
*.cp linguist-language="Component[:space:]Pascal"
*.cl linguist-language="Cool"
*.coq linguist-language="Coq"
*.cppobjdump linguist-language="Cpp-ObjDump"
*.creole linguist-language="Creole"
*.cr linguist-language="Crystal"
*.orc linguist-language="Csound"
*.csd linguist-language="Csound[:space:]Document"
*.sco linguist-language="Csound[:space:]Score"
*.feature linguist-language="Cucumber"
*.cu linguist-language="Cuda"
*.cy linguist-language="Cycript"
*.pyx linguist-language="Cython"
*.d linguist-language="D"
*.d-objdump linguist-language="D-ObjDump"
*.com linguist-language="DIGITAL[:space:]Command[:space:]Language"
*.dm linguist-language="DM"
*.zone linguist-language="DNS[:space:]Zone"
*.d linguist-language="DTrace"
*.darcspatch linguist-language="Darcs[:space:]Patch"
*.dart linguist-language="Dart"
*.diff linguist-language="Diff"
*.dockerfile linguist-language="Dockerfile"
*.djs linguist-language="Dogescript"
*.dylan linguist-language="Dylan"
*.E linguist-language="E"
*.ecl linguist-language="ECL"
*.ecl linguist-language="ECLiPSe"
*.ejs linguist-language="EJS"
*.eq linguist-language="EQ"
*.sch linguist-language="Eagle"
*.epj linguist-language="Ecere[:space:]Projects"
*.e linguist-language="Eiffel"
*.ex linguist-language="Elixir"
*.elm linguist-language="Elm"
*.el linguist-language="Emacs[:space:]Lisp"
*.em linguist-language="EmberScript"
*.erl linguist-language="Erlang"
*.fs linguist-language="F#"
*.fx linguist-language="FLUX"
*.f90 linguist-language="FORTRAN"
*.factor linguist-language="Factor"
*.fy linguist-language="Fancy"
*.fan linguist-language="Fantom"
*.fs linguist-language="Filterscript"
*.for linguist-language="Formatted"
*.fth linguist-language="Forth"
*.ftl linguist-language="FreeMarker"
*.fr linguist-language="Frege"
*.g linguist-language="G-code"
*.gms linguist-language="GAMS"
*.g linguist-language="GAP"
*.s linguist-language="GAS"
*.md linguist-language="GCC[:space:]Machine[:space:]Description"
*.gdb linguist-language="GDB"
*.gd linguist-language="GDScript"
*.glsl linguist-language="GLSL"
*.gml linguist-language="Game[:space:]Maker[:space:]Language"
*.kid linguist-language="Genshi"
*.ebuild linguist-language="Gentoo[:space:]Ebuild"
*.eclass linguist-language="Gentoo[:space:]Eclass"
*.po linguist-language="Gettext[:space:]Catalog"
*.glf linguist-language="Glyph"
*.gp linguist-language="Gnuplot"
*.go linguist-language="Go"
*.golo linguist-language="Golo"
*.gs linguist-language="Gosu"
*.grace linguist-language="Grace"
*.gradle linguist-language="Gradle"
*.gf linguist-language="Grammatical[:space:]Framework"
*.gml linguist-language="Graph[:space:]Modeling[:space:]Language"
*.graphql linguist-language="GraphQL"
*.dot linguist-language="Graphviz[:space:](DOT)"
*.man linguist-language="Groff"
*.groovy linguist-language="Groovy"
*.gsp linguist-language="Groovy[:space:]Server[:space:]Pages"
*.hcl linguist-language="HCL"
*.hlsl linguist-language="HLSL"
*.html linguist-language="HTML"
*.mustache linguist-language="HTML+Django"
*.ecr linguist-language="HTML+ECR"
*.eex linguist-language="HTML+EEX"
*.erb linguist-language="HTML+ERB"
*.phtml linguist-language="HTML+PHP"
*.http linguist-language="HTTP"
*.hh linguist-language="Hack"
*.haml linguist-language="Haml"
*.handlebars linguist-language="Handlebars"
*.hb linguist-language="Harbour"
*.hs linguist-language="Haskell"
*.hx linguist-language="Haxe"
*.hy linguist-language="Hy"
*.bf linguist-language="HyPhy"
*.pro linguist-language="IDL"
*.ipf linguist-language="IGOR[:space:]Pro"
*.ini linguist-language="INI"
*.irclog linguist-language="IRC[:space:]log"
*.idr linguist-language="Idris"
*.ni linguist-language="Inform[:space:]7"
*.iss linguist-language="Inno[:space:]Setup"
*.io linguist-language="Io"
*.ik linguist-language="Ioke"
*.thy linguist-language="Isabelle"
*.ijs linguist-language="J"
*.flex linguist-language="JFlex"
*.json linguist-language="JSON"
*.json5 linguist-language="JSON5"
*.jsonld linguist-language="JSONLD"
*.jq linguist-language="JSONiq"
*.jsx linguist-language="JSX"
*.jade linguist-language="Jade"
*.j linguist-language="Jasmin"
*.java linguist-language="Java"
*.jsp linguist-language="Java[:space:]Server[:space:]Pages"
*.js linguist-language="JavaScript"
*.jl linguist-language="Julia"
*.ipynb linguist-language="Jupyter[:space:]Notebook"
*.krl linguist-language="KRL"
*.sch linguist-language="KiCad"
*.kit linguist-language="Kit"
*.kt linguist-language="Kotlin"
*.lfe linguist-language="LFE"
*.ll linguist-language="LLVM"
*.lol linguist-language="LOLCODE"
*.lsl linguist-language="LSL"
*.lvproj linguist-language="LabVIEW"
*.lasso linguist-language="Lasso"
*.latte linguist-language="Latte"
*.lean linguist-language="Lean"
*.less linguist-language="Less"
*.l linguist-language="Lex"
*.ly linguist-language="LilyPond"
*.b linguist-language="Limbo"
*.ld linguist-language="Linker[:space:]Script"
*.mod linguist-language="Linux[:space:]Kernel[:space:]Module"
*.liquid linguist-language="Liquid"
*.lagda linguist-language="Literate[:space:]Agda"
*.litcoffee linguist-language="Literate[:space:]CoffeeScript"
*.lhs linguist-language="Literate[:space:]Haskell"
*.ls linguist-language="LiveScript"
*.xm linguist-language="Logos"
*.lgt linguist-language="Logtalk"
*.lookml linguist-language="LookML"
*.ls linguist-language="LoomScript"
*.lua linguist-language="Lua"
*.mumps linguist-language="M"
*.m4 linguist-language="M4"
*.m4 linguist-language="M4Sugar"
*.ms linguist-language="MAXScript"
*.mtml linguist-language="MTML"
*.muf linguist-language="MUF"
*.mak linguist-language="Makefile"
*.mako linguist-language="Mako"
*.md linguist-language="Markdown"
*.mask linguist-language="Mask"
*.mathematica linguist-language="Mathematica"
*.matlab linguist-language="Matlab"
*.maxpat linguist-language="Max"
*.mediawiki linguist-language="MediaWiki"
*.m linguist-language="Mercury"
*.metal linguist-language="Metal"
*.minid linguist-language="MiniD"
*.druby linguist-language="Mirah"
*.mo linguist-language="Modelica"
*.mod linguist-language="Modula-2"
*.mms linguist-language="Module[:space:]Management[:space:]System"
*.monkey linguist-language="Monkey"
*.moo linguist-language="Moocode"
*.moon linguist-language="MoonScript"
*.myt linguist-language="Myghty"
*.ncl linguist-language="NCL"
*.nl linguist-language="NL"
*.nsi linguist-language="NSIS"
*.n linguist-language="Nemerle"
*.axs linguist-language="NetLinx"
*.axs.erb linguist-language="NetLinx+ERB"
*.nlogo linguist-language="NetLogo"
*.nl linguist-language="NewLisp"
*.nginxconf linguist-language="Nginx"
*.nim linguist-language="Nimrod"
*.ninja linguist-language="Ninja"
*.nit linguist-language="Nit"
*.nix linguist-language="Nix"
*.nu linguist-language="Nu"
*.numpy linguist-language="NumPy"
*.ml linguist-language="OCaml"
*.objdump linguist-language="ObjDump"
*.m linguist-language="Objective-C"
*.mm linguist-language="Objective-C++"
*.j linguist-language="Objective-J"
*.omgrofl linguist-language="Omgrofl"
*.opa linguist-language="Opa"
*.opal linguist-language="Opal"
*.cl linguist-language="OpenCL"
*.p linguist-language="OpenEdge[:space:]ABL"
*.scad linguist-language="OpenSCAD"
*.org linguist-language="Org"
*.ox linguist-language="Ox"
*.oxygene linguist-language="Oxygene"
*.oz linguist-language="Oz"
*.pwn linguist-language="PAWN"
*.php linguist-language="PHP"
*.pls linguist-language="PLSQL"
*.sql linguist-language="PLpgSQL"
*.pov linguist-language="POV-Ray[:space:]SDL"
*.pan linguist-language="Pan"
*.psc linguist-language="Papyrus"
*.parrot linguist-language="Parrot"
*.pasm linguist-language="Parrot[:space:]Assembly"
*.pir linguist-language="Parrot[:space:]Internal[:space:]Representation"
*.pas linguist-language="Pascal"
*.pl linguist-language="Perl"
*.6pl linguist-language="Perl6"
*.pkl linguist-language="Pickle"
*.l linguist-language="PicoLisp"
*.pig linguist-language="PigLatin"
*.pike linguist-language="Pike"
*.pod linguist-language="Pod"
*.pogo linguist-language="PogoScript"
*.pony linguist-language="Pony"
*.ps linguist-language="PostScript"
*.ps1 linguist-language="PowerShell"
*.pde linguist-language="Processing"
*.pl linguist-language="Prolog"
*.spin linguist-language="Propeller[:space:]Spin"
*.proto linguist-language="Protocol[:space:]Buffer"
*.asc linguist-language="Public[:space:]Key"
*.pp linguist-language="Puppet"
*.pd linguist-language="Pure[:space:]Data"
*.pb linguist-language="PureBasic"
*.purs linguist-language="PureScript"
*.py linguist-language="Python"
*.pytb linguist-language="Python[:space:]traceback"
*.qml linguist-language="QML"
*.pro linguist-language="QMake"
*.r linguist-language="R"
*.raml linguist-language="RAML"
*.rdoc linguist-language="RDoc"
*.rbbas linguist-language="REALbasic"
*.rhtml linguist-language="RHTML"
*.rmd linguist-language="RMarkdown"
*.rkt linguist-language="Racket"
*.rl linguist-language="Ragel[:space:]in[:space:]Ruby[:space:]Host"
*.raw linguist-language="Raw[:space:]token[:space:]data"
*.reb linguist-language="Rebol"
*.red linguist-language="Red"
*.cw linguist-language="Redcode"
*.rpy linguist-language="Ren'Py"
*.rs linguist-language="RenderScript"
*.robot linguist-language="RobotFramework"
*.rg linguist-language="Rouge"
*.rb linguist-language="Ruby"
*.rs linguist-language="Rust"
*.sas linguist-language="SAS"
*.scss linguist-language="SCSS"
*.smt2 linguist-language="SMT"
*.sparql linguist-language="SPARQL"
*.sqf linguist-language="SQF"
*.sql linguist-language="SQL"
*.sql linguist-language="SQLPL"
*.srt linguist-language="SRecode[:space:]Template"
*.ston linguist-language="STON"
*.svg linguist-language="SVG"
*.sage linguist-language="Sage"
*.sls linguist-language="SaltStack"
*.sass linguist-language="Sass"
*.scala linguist-language="Scala"
*.scaml linguist-language="Scaml"
*.scm linguist-language="Scheme"
*.sci linguist-language="Scilab"
*.self linguist-language="Self"
*.sh linguist-language="Shell"
*.sh-session linguist-language="ShellSession"
*.shen linguist-language="Shen"
*.sl linguist-language="Slash"
*.slim linguist-language="Slim"
*.smali linguist-language="Smali"
*.st linguist-language="Smalltalk"
*.tpl linguist-language="Smarty"
*.sp linguist-language="SourcePawn"
*.nut linguist-language="Squirrel"
*.stan linguist-language="Stan"
*.ML linguist-language="Standard[:space:]ML"
*.do linguist-language="Stata"
*.styl linguist-language="Stylus"
*.srt linguist-language="SubRip[:space:]Text"
*.sc linguist-language="SuperCollider"
*.swift linguist-language="Swift"
*.sv linguist-language="SystemVerilog"
*.tla linguist-language="TLA"
*.toml linguist-language="TOML"
*.txl linguist-language="TXL"
*.tcl linguist-language="Tcl"
*.tcsh linguist-language="Tcsh"
*.tex linguist-language="TeX"
*.tea linguist-language="Tea"
*.t linguist-language="Terra"
*.txt linguist-language="Text"
*.textile linguist-language="Textile"
*.thrift linguist-language="Thrift"
*.t linguist-language="Turing"
*.ttl linguist-language="Turtle"
*.twig linguist-language="Twig"
*.ts linguist-language="TypeScript"
*.upc linguist-language="Unified[:space:]Parallel[:space:]C"
*.anim linguist-language="Unity3D[:space:]Asset"
*.uno linguist-language="Uno"
*.uc linguist-language="UnrealScript"
*.ur linguist-language="UrWeb"
*.vcl linguist-language="VCL"
*.vhdl linguist-language="VHDL"
*.vala linguist-language="Vala"
*.v linguist-language="Verilog"
*.vim linguist-language="VimL"
*.vb linguist-language="Visual[:space:]Basic"
*.volt linguist-language="Volt"
*.vue linguist-language="Vue"
*.mtl linguist-language="Wavefront[:space:]Material"
*.obj linguist-language="Wavefront[:space:]Object"
*.owl linguist-language="Web[:space:]Ontology[:space:]Language"
*.webidl linguist-language="WebIDL"
*.toc linguist-language="World[:space:]of[:space:]Warcraft[:space:]Addon[:space:]Data"
*.x10 linguist-language="X10"
*.xc linguist-language="XC"
*.xml linguist-language="XML"
*.xsp-config linguist-language="XPages"
*.xpl linguist-language="XProc"
*.xquery linguist-language="XQuery"
*.xs linguist-language="XS"
*.xslt linguist-language="XSLT"
*.xojo_code linguist-language="Xojo"
*.xtend linguist-language="Xtend"
*.yml linguist-language="YAML"
*.yang linguist-language="YANG"
*.y linguist-language="Yacc"
*.zep linguist-language="Zephir"
*.zimpl linguist-language="Zimpl"
*.desktop linguist-language="desktop"
*.ec linguist-language="eC"
*.edn linguist-language="edn"
*.fish linguist-language="fish"
*.mu linguist-language="mupad"
*.nc linguist-language="nesC"
*.ooc linguist-language="ooc"
*.rst linguist-language="reStructuredText"
*.wisp linguist-language="wisp"
*.prg linguist-language="xBase"